$('#projects').append('#{escape_javascript(render @projects)}');
$('a.load-more-projects').attr('href', '#{root_path(:page => @projects.next_page)}');
- unless @projects.next_page
  $('a.load-more-projects').remove();